@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

html {
  scroll-behavior: smooth  !important;
  
}
body {
  /* font-family: 'Merienda', handwriting; */
  /* background-color: #f8f0eb !important; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  #root {
    min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.go2072408551{
  margin-right: 0px !important;
}
/* .go4109123758{
  left: 0;
} */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: myfont;
  src: url(../assets/fonts/Anta-Regular.ttf);
}
.logo-text{
  font-family: myfont !important;
}

.main-text{
    font-family: "Merienda", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 800 !important;
    font-style: normal !important;

}